spacy
pandas
httplib2
urllib3
numpy
scikit-learn
Scrapy
textblob
numba
bayesian-optimization<2.0.0
pandas
speechpy 
soundfile 
keras-tuner 
gensim
scipy
scikit-learn 
tensorflow-addons
tensorflow-probability
tensorflow
